@import "variables";
@import "utility-spaces";

body {
 background-color: $bg-color;
 color: $text-color;
 font-family: sans-serif;
}

.flex {
    display: flex;
  }
  .demo-box {
    background: $text-color;
    height: 40px;
    width: 40px;
  }